@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  --button-bg: rgba(238, 238, 238, 1);
}

body {
  background-color: #fff;
}

* {
  padding: 0;
  margin: 0;
}
.apple-green {
  color: #76b900;
}
.button-bg-color {
  background-color: var(--button-bg);
}
.cart-color {
  background-color: #fae6e6;
}
/* Custom styles for slick dots */
.slick-dots {
  padding: 2px !important;
  display: flex !important;
  justify-items: center !important;
  gap: 1px !important;
  margin: 0 45% !important ;
  background-color: #7a767c;
  opacity: 0.75 !important;
  bottom: 15px !important;
  width: 100px !important;
  height: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.slick-dots li {
  width: 10px !important ;
}

.slick-dots li button:before {
  color: white !important ;
  opacity: 1 !important;
  font-size: 10px !important;
}
.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1 !important;
  font-size: 20px !important;
}

/* slick preview */
.slick-arrow {
  margin: 0 40px;
  z-index: 1;
}
.slick-arrow::before {
  font-size: 30px !important;
  color: #7a767c !important;
  fill: white !important;
}
.slick-arrow:hover::before {
  color: black !important;
  opacity: 1 !important;
}

@layer utilities {
  .custom-scrollbar:hover::-webkit-scrollbar {
    width: 7px;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 0px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
  }
}

.contain-content {
  contain: content;
}

.left-loader {
  height: 4px;
  width: 50%;
  background-color: #e4f1cc;
  animation: leftBar 3s infinite alternate;
  -webkit-animation: leftBar 3s infinite alternate;
}

@keyframes leftBar {
  0% {
    transform: translateX(-800px);
    background-color: #e4f1cc;
    -webkit-transform: translateX(-800px);
    -moz-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    -o-transform: translateX(-800px);
  }
  100% {
    transform: translateX(0px);
    background-color: #e4f1cc;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}
.right-loader {
  height: 4px;
  width: 50%;
  background-color: #e4f1cc;
  animation: rightBar 3s infinite;
  -webkit-animation: rightBar 3s infinite alternate;
}

@keyframes rightBar {
  0% {
    transform: translateX(800px);
    background-color: #e4f1cc;
    -webkit-transform: translateX(800px);
    -moz-transform: translateX(800px);
    -ms-transform: translateX(800px);
    -o-transform: translateX(800px);
  }
  100% {
    transform: translateX(0px);
    background-color: #e4f1cc;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}
/* #E4F1CC */


